<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DbFileName" value="MyData.db"/>
    <!--<add key="DbPassword" value="0951431404Temp"/>-->
  </appSettings>
</configuration>